In [1]:
import numpy as np
from xgboost import XGBClassifier
from matplotlib import pyplot as plt

In [2]:
import pandas_datareader.data as web

/home/robin/.local/lib/python3.8/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [5]:
df = web.DataReader('^JKSE', 'yahoo', '2018-01-01', '2020-09-03')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,6445.910156,6326.092773,6366.083008,6339.237793,52168200.0,6339.237793
2018-01-03,6342.190918,6220.694824,6341.270996,6251.479004,48866400.0,6251.479004
2018-01-04,6292.320801,6233.937012,6257.716797,6292.320801,57864900.0,6292.320801
2018-01-05,6353.737793,6278.724121,6279.457031,6353.737793,74223700.0,6353.737793
2018-01-08,6385.403809,6349.041992,6354.361816,6385.403809,66702400.0,6385.403809
...,...,...,...,...,...,...
2020-08-28,5381.948242,5325.604980,5371.472168,5346.659180,107955900.0,5346.659180
2020-08-31,5369.446777,5233.143066,5346.659180,5238.486816,124088000.0,5238.486816
2020-09-01,5310.679199,5219.208008,5238.486816,5310.679199,90465800.0,5310.679199
2020-09-02,5337.099121,5295.276855,5310.679199,5311.970215,121613800.0,5311.970215
2020-09-03,5331.167969,5242.171875,5311.970215,5280.812988,0.0,5280.812988

In [40]:
df.fillna(method='ffill', inplace=True)
df.fillna(value=0, inplace=True)

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_scaled = scaler.fit_transform(df)

df_scaled

array([[0.90367123, 0.88660452, 0.88320189, 0.8727859 , 0.29111508,
        0.8727859 ],
       [0.86331204, 0.84790041, 0.87417803, 0.84089281, 0.27268999,
        0.84089281],
       [0.8439066 , 0.85276319, 0.84379025, 0.85573544, 0.32290447,
        0.85573544],
       ...,
       [0.46193059, 0.48013562, 0.47310709, 0.49898956, 0.50482781,
        0.49898956],
       [0.4722111 , 0.50806953, 0.4993627 , 0.49945873, 0.67864351,
        0.49945873],
       [0.46990317, 0.48856839, 0.49983223, 0.48813565, 0.        ,
        0.48813565]])

In [59]:
X_train, X_test, y_train, y_test = train_test_split(df_scaled[:, 0:3], df_scaled[:, 3], test_size=0.33, shuffle=False)

X_train.shape, y_train.shape

((434, 3), (434,))

In [60]:
model = XGBClassifier(booster='gbtree')
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [61]:
# plt.bar(range(len(model.feature_importances_)), model.feature_importances_)
# plt.show()
# print(model.feature_importances_)
model.get_booster().get_score(importance_type='gain')

{}

In [62]:
model.feature_importances_

/home/robin/venv/py3/lib/python3.8/site-packages/xgboost/sklearn.py:695: RuntimeWarning: invalid value encountered in true_divide
  return all_features / all_features.sum()

array([nan, nan, nan], dtype=float32)